<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload PDF</title>
</head>
<body>
<h1>Upload PDF</h1>
<form id="uploadForm" enctype="multipart/form-data">
    <input type="file" id="fileInput" name="singleFile" accept="application/pdf">
    <button type="button" onclick="uploadFile()">Upload</button>
</form>

<script>
    function uploadFile() {
        const form = document.getElementById('uploadForm');
        const formData = new FormData(form);

        fetch('/uploadFile/singleFile', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }
</script>
</body>
</html>